/* 
*/
/*color pallete*/


/* Font Google - strong reaload time */

@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);


/*
author: Mengna Wu
creating date: 3/5/2015 - 6/3/2015
 */


 /* preloader*/
 
.preloader{
  position:fixed;
  width:100%;
  height:100%;
  background:#101010;
  z-index:99999;
  margin:0 auto;
}
 
.preloader .item{
  position:absolute;
  width:100px;
  height:100px;
  left:50%;
  top:45%;
  margin-left:-50px;
  margin-top:-50px;
} 
  

  
/*universal*/

html,body,div,section,p{
   display:block;
}

 html, body {
 
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:#F3F3F3;
  font-weight:400;
  height:100%;
}

a{
  
  text-decoration:none;
  outline:none;
  font-size:12px;
}

h1{
  font-size:12px;
  color:white;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:6px;
  line-height:1.2;
  margin:0 auto;
  width:100%;
}

h1 img{
   width:100%;
   margin:0 auto;
}
p{
  font-size:1em;
  color:white;
  font-weight:300;
  letter-spacing:1px;
  margin-top:40px;
}


h1 span{
  color:#2fa68e;
}


::selection {
  background: #be1e2d;
  color:white;
}

::-moz-selection {
  background: #be1e2d;
  color:white;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
}






/* Start page */
.backgroundVideo{
	position: absolute; 
	right: 0; 
	bottom: 0;
	height:100%;
	width:100%;
	background:url(img/background/blackInk.png);
	background-size:cover;
	opacity:1;	
	z-index:-9;}

video#bgvid {
   display:block;
   position: absolute; 
   right: 0; 
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;    
   z-index:-10;
   background: url() no-repeat;
   background-size: cover;
   opacity:0.4;
}



.start-page{
  position:relative;
  width:100%;
  height:100%;
  z-index:10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.start-page hr{
  color: white;
  margin-top:30px;
  background-color: white;
  height: 1px;
  width:54px;
  border:0;

}

.start-page .opacity{
  position:relative;
  width:100%;
  height:100%;
  background:url(../img/background/backgroundOverlay.png); /* Standard Off */
  background-size:cover;
  z-index:-1000;
}
.homeWrapper{
   display:block;
   position:absolute;
   top:25%;
   right:0;
   clear:both;
   height:100%;
   width:50%;
   z-index:1;
   
}

.start-page .content{
  position:absolute;
  width:100%;
  margin-right:10%;
  height:100%;
  top:40%;
  float:right;
}

.start-page .content .text{
  position:relative;
  text-align:center;
  margin:auto;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.start-page .content .text .logo{
  width:123px;
  height:123px;
  margin:0 auto 50px;
  z-index:1000;
  
}


.start-page .content .text .read-more{
  width:183px;
  height:47px;
  margin:100px auto;
  line-height:47px;
  border:1px solid white;
  text-transform:uppercase;
  color:white;
  display:block;
  cursor:pointer;
  font-size:14px;
  letter-spacing:1px;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.start-page .content .text .read-more:hover{
  color:white;
  background: #be1e2d;
  border:1px solid #be1e2d;
}

.start-page .content .arrow-down{
  z-index:10000000;
  position: absolute;
  bottom: 1010px;
  text-align:center;
  margin:0 auto;
  width: 300px;
  height: 300px;
  background: url(../img/arrow-down.png) no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
   animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}


@-webkit-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-moz-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-o-keyframes bounce-fade {
    0%   { opacity: 0; bottom:70px; }
    100% { opacity: 1; bottom: 35px; }
}
@keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}


/* Menu mobile */

.menu-media{
  position:relative;
  width:100%;
  height:90px;
  /*background:#be1e2d;*/
  z-index:1000;
  display:none;
}

.menu-media .menu-content{
  width:280px;
  position:relative;
  margin:0 auto;
}

.menu-media .menu-content .logo {
   color:black;
   font-weight:700;
   font-size:24px;
   width:200px;
   line-height:90px;
   float:left;
   list-style: none;
}

.menu-media .menu-content .icon{
  width:41px;
  height:23px;
  float:right;
  line-height:100px;
}

.menu-click{
  display:none;
}


.menu-click li {
  position:relative;
  width:100%;
  height:70px;
  color:#333333;
  font-size:18px;
  text-align:center;
  line-height:70px;
  z-index:1000;
  /*border-bottom:1px solid #f2f2f2;*/
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
 }

.menu-click li:hover {
  color:#be1e2d;
 }


/* Menu */

.menu{
  bottom:0px;
  position:relative;
  width:100%;
  height:60px;
  background:white;
  
  /*border-bottom:1px solid #f2f2f2;*/
  z-index:1000;
}

.menu-content{
  width:900px;
  position:relative;
  margin:0 auto;
}

.menu-content .logo {
   color:#333;
   font-weight:700;
   font-size:24px;
   width:300px;
   line-height:60px;
   float:left;
   list-style: none;
   font-family:Lato,sans-serif;
 }

.menu-content ul{

  width:500px;
  left:50%;
  float:right;
  text-align:right;
  list-style:none;
}

.menu-content li{
   display:inline-block;
   position:relative;
}

.menu-content li a{
  color:#333;
  font-size:16px;
  display: block;
  padding: 0 20px 0 20px;
  line-height:60px;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.menu-content li.active a{
  color:#be1e2d;
}

.menu-content li a:hover{
  color:#be1e2d;
}


/* About ME */

.about-me{
  height:120%;
  top:-130px;
  position:relative;
  width:100%;
  background:white;
  z-index:10;
}

.about-me .content{
  position:relative;
  width:900px;
  margin: 0 auto;
  
}

.about-me h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:120px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;

}

.about-me hr{
  color: black;
  margin-top:30px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;

}

.about-me p.title{
  color: #a4a4a4;
  margin:40px auto;
  width:300px;
  line-height:26px;
  letter-spacing:0;
  font-size:14px;
  font-weight:300;
  text-align:center;
}

.about-me h2{
  text-align:center;
  margin-top:50px;
  font-size:26px;
  color:black;
  line-height:1.2;
  letter-spacing:6px;
  width:100%;
  position:relative;
  font-weight:400;
}

.about-me p{
  text-align:center;
  font-size:14px;
  width:250px;
  margin:30px auto;
  color:#a4a4a4;
  line-height:26px;
  letter-spacing:0;
  position:relative;
  font-weight:300;
}


.col-md-4{
   width:30%;
   float:left;
   position:relative;
   min-heigh:1px;
   padding-right:15px;
   padding-left:15px;
   display:block;
}


.text-box {
  border: 1px solid black;
  margin: 88px 0 0px 0;
  padding: 28px 23px 31px 23px;
  position: relative;
  display: block;
}
.text-box p {
  font-size: 12px;
  line-height: 22px;
  color: black;
  letter-spacing: 0.5px;
}
.text-box.image {
  padding: 0;
  border: 0;
}
.text-box.image img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.box-icon i {
  font-size: 30px;
  line-height: 35px;
  color: #252525;
}
.box-icon {
  position: absolute;
  top: -20px;
  left: 25px;
}

.box-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #252525;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: auto;
  margin-top: 5px;
  margin-bottom: 33px;
  padding-bottom: 7px;
  border-bottom: 1px solid #252525;
}

.count-to {
  text-align: center;
  padding: 28px 0 84px 0;
}
.count-to .timer {
  display: block;
  font-size: 50px;
  font-weight: 400;
  color: #252525;
  font-weight: 300;
  margin-bottom: 25px;
}

.about-me .read-more{
  width:183px;
  height:47px;
  position:relative;
  margin:50px auto 100px;
  line-height:47px;
  border:1px solid #333333;
  text-transform:uppercase;
  text-align:center;
  color:#333333;
  cursor:pointer;
  font-size:14px;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
	letter-spacing:1px;
}
.about-me .read-more:hover{
  background:#be1e2d;
  color:white;
  border:1px solid #be1e2d;
}

/* Portfolio */


.portfolio{
  position:relative;
  width:100%;
  background:#f3f3f3;
  z-index:10;
  margin:0 auto;
  display:block;

}

.portfolio .portfolio-margin{
  position:relative;
  width:100%;
  overflow:hidden;
  margin:0 auto;
}

.portfolio .portfolio-margin .read-more{
  width:183px;
  height:47px;
  position:relative;
  margin:50px auto 100px;
  line-height:47px;
  border:1px solid #333333;
  text-transform:uppercase;
  text-align:center;
  color:#333333;
  cursor:pointer;
  font-size:14px;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
	letter-spacing:1px;
}

.portfolio .portfolio-margin .read-more:hover{
  background:#be1e2d;
  color:white;
  border:1px solid #be1e2d;
}

.portfolio .portfolio-margin h1{
  color:black;
  text-align:center;
  margin-top:120px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.portfolio .portfolio-margin hr{
  color: black;
  margin-top:30px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;
}




/* Portfolio grid */

.grid{
  margin-top:70px;
  width:100%;
  position:relative;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

.grid li{
 
  
  float: left;
  position: relative;
  overflow: hidden;
}

.grid img{
  display:block;
  margin:0 auto;
  text-align:center;
  width:100%;
  position: relative;
   -webkit-transition: all 4s ease-in;
	-moz-transition: all 4s ease-in;
	-ms-transition: all 4s ease-in;
	-o-transition: all 4s ease-in;
	transition: all 4s ease-in;
	
}

.grid img:hover{
    transform: scale(1.5);
}


.grid .text {
  position: relative;
  width: 100%;
  height:100%;
  text-align:center;
  background: rgba(173,160,116,1);
  z-index: 2;
  opacity:0;
    -webkit-transition: all 1s ease-in;
	-moz-transition: all  1s ease-in;
	-ms-transition: all  1s ease-in;
	-o-transition: all  1s ease-in;
	transition: all  1s ease-in;
}

.grid .text:hover {
  opacity:.6;
}

.grid .no-text {
  position: relative;
  width: 100%;
  height:100%;
  background: rgba(173,160,116,0.5);
  z-index: 2;
  opacity:0;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.grid .no-text:hover {
  opacity:1;
}

.wide  p {
  font-size: 2em;
  text-align:center;
  line-height:26px;
  margin-top:30%;
  font-weight: 700;
  letter-spacing:1px;
  color: #000;
}

.grid p.description {
  font-size: 12px;
  margin-top:20px;
  text-align:center;
  line-height:20px;
  font-weight: 400;
  color: #FFF;
  position:relative;
}

.clear { 
    clear:both; 
}

/* Partners */

.partners{
  position:relative;
  width:100%;
  z-index:10;
  height:400px;
  background:url('../img/background/partners.jpg') 0px 0px fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.partners .opacity{
  position:absolute;
  width:100%;
  height:400px;
  background:rgba(79,79,79,0.2);
}

.partners .content{
  position:absolute;
  width:900px;
  height:190px;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.partners h2{
  color:white;
  letter-spacing:1px;
  font-size:32px;
  font-weight:300;
  text-align:center;
}

.partners .logo{
  position:relative;
  width:900px;
  overflow:hidden;
  margin-top:50px;
  text-align:center;
}

.partners .logo img{
  opacity:0.5;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.partners .logo img:hover{
  opacity:1;
}

/* Contact */

.contact{
  position:relative;
  width:100%;
  background:white;
  z-index:10;
  overflow:hidden;
}


.contact .content{
  position:relative;
  width:900px;
  overflow:hidden;
  margin: 60px auto 65px auto;
}

.contact h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:120px;
  letter-spacing:6px;
  text-transform:uppercase;
  line-height:1.2;
}

.contact hr{
  color: black;
  margin-top:30px;
  background-color: black;
  height: .5px;
  width:106px;
  border:0;
}

.contact .content .form{
  width:455px;
  overflow:hidden;
  height:auto;
  float:left;
}

.contact .content .form .column{
  width:180px;
  overflow:hidden;
  height:auto;
  float:left;
  letter-spacing:1px;
  margin-bottom:30px;
  color:black;
}

.contact .content .form .column-2{
  width:210px;
  padding-left:60px;
  overflow:hidden;
  height:auto;
  float:left;
  letter-spacing:1px;
  margin-bottom:30px;
  color:black;  
}

.contact .content .form .column-3{
  width:450px;
  overflow:hidden;
  height:auto;
  float:left;
  letter-spacing:1px;
  color:black;
}

.contact .content .contact-text{
  width:405px;
  overflow:hidden;
  height:auto;
  font-weight:300;
  float:left;
  padding-left:40px;
  color:black;
  font-size:14px;
  line-height:26px;
}

strong{
  font-weight:400;
  font-size:1.2em;
  line-height:1em;
  letter-spacing:2px;

}

input{

  width:180px;
  height:40px;
  background:#f8f7f7;
  border-top:1px solid #333;
  border-bottom:0;
  border-left:0;
  border-right:0;
  color:#333;
  font-weight:300;
  line-height:40px;
  padding-left:15px;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  margin-bottom:10px;
}

input:focME{background:#f4f4f4;}

textarea{

  width:420px;
  height:150px;
  border-top:1px solid #333;
  border-bottom:0;
  line-height:20px;
  border-left:0;
  border-right:0;
  background:#f8f7f7;
  color:#333;
  font-weight:300;
  padding:15px 0 0 15px;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  margin-bottom:10px;
}

textarea:focME{background:#f4f4f4;}


input.submit{
  width:100px;
  height:34px;
  float:right;
  margin:20px 10px 0 0;
  border:0;
  font-weight:700;
  text-align:right;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

/* Footer */


.footer{
  position:fixed;
  bottom:0;
  width:100%;
  background:#3c3c3c;
  z-index:9999999;
}

.footer .logo{

  position:relative;
  width:58px;
  height:58px;
  margin: 0 auto;
  padding-top:50px;

}

.footer .menu-footer{
  width:80%;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
  overflow: hidden;
  position:relative;  
}


.footer .menu-footer a{
  display:inline;
  line-height:46px;
  padding:10px;
  color:#a4a4a4;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.footer .menu-footer a:hover{
  color:#be1e2d;
}


.footer .copyright{
  width:80%;
  position:relative;
  font-weight:300;
  margin:0 auto;
  padding:30px 0 50px;
  text-align:center;
  font-size:14px;
  line-height:36px;
  color:#a4a4a4;
}


/*work page style goes here */

#work{
   background:#F3F3F3;
}
.workWrapper{
   display:block;
   width:100%;
   height:100%;
   margin:0 auto;
   position:relative;
   background:#F3F3F3;
}

.workCover{
   width:100%;
   height:100%;
   margin:0 auto;
   position:relative;
   background:url(../img/portfolio/00-1.png);
   background-size:cover;
}

.workCover .workImage{
   padding:0;
   margin:0;
   top:0;
   position:abosolute;
}
.workContent{
   display:block;
   width:50%;
   height:100%;
   margin:0 auto;
   position:relative;
   
}
.workImage{
   display:block;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;
   margin-top:50px;
   position:relative;
   padding:20px 0;
}
.workImage img{
   display:block;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;
   position:relative;
}

.workDescpt{
   
   display:block;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;
   margin-top:3em;
   margin-bottom:100px;
   position:relative;
   color:black;
   padding:50px 0;
}

.workDescpt p{
   
   display:block;
   color:black;
   font-size:1em;
   font-family: 'Open Sans', sans-serif;
   line-height:2em;
   margin:0 auto;
}

.workCover p{
   display:block;
   width:50%;
   text-align:center;
   font-size:1.5em;
   clear:both;  
}

.workContent h2{
   padding-top:80px;
   font-size:3em;
   font-family: 'Ubuntu', sans-serif;
   clear:both;
   position:relative;
   color:black;
}

/*margin style*/
#margin{
    width:100%;
	height:100px;
	margin:0 auto;
	position:absolute;
    z-index:200;
    bottom:0px;
}

.margin{
   width:100%;
   height:100%;
   background-size:cover;
   background:url(../img/background/margin2-01.png) center center no-repeat;
   margin:0 auto;
   z-index:10;
   background-repeat:no-repeat;
}
.margin img{
   top:-10px;
   z-index:10;
   position:absolute;
   margin-left:auto;
   margin-right:auto;  
}
.arrow{
   display:block;
   bottom:100px;
   left:50%;
   width:16px;
   height:12px;
   margin:0 auto;
   position:absolute;
   z-index:10000000;
   -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
   animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}

/*my edits go here*/
@font-face {
    font-family:"josefin";
	src: url('html/nemoy_light-webfont.eot');	
	}


#home p{
   display:block;
   padding:10px 20px;
  
   font-family:'Roboto',sans-serif;
   font-size:1em;
   letter-spacing:3px;
   
   }
   
#home .logo{
   height:auto;   
   position:relative;
   clear:both;
   z-index:100000;
   opacity:1;   
}

#home .logo img{
   z-index:100000;
   opacity:1;
   margin:0 auto;
   display:block;
}


.start-page hr{
   margin-top:0;
}

#home{
    width:100%;
	overflow:hidden;
}

#about-me .content{
    width:45%;
	margin:0 auto;
	clear:both;
}
#about-me p{
    display:block;
	width:100%;
	height:auto;
	margin:10% auto;
	position:relative;
	clear:both;
	color:#363636;
	text-indent:1.5em;
	font-size:1.3em;
	text-justify:inter-word;
	font-weight:100;
}

#about-me p + p{
    margin-top:1em;
	margin-bottom:0;
}
#about-me p:nth-child(1){
   margin-top:2em;
   margin-bottom:0px;
}
.menu-content li a{
   font-weight:100;
   letter-spacing:1px;
   color:#AAA5A5;
}


.footer{
   position:relative;
}

.portfolio{
   background:none;
}


.homeWrapper{
   position:relative;
   width:100%
}

#home h1{
   text-align:center;
   padding-top:10px;
   font-size:14px;
}

.about-me{
   /*background:url(../img/background/backgroundOverlay02.png) no-repeat;*/
   background-repeat:no-repeat;
   background-position:center;
   background-size:cover;
  
   
}

.about-me .introduction{
   height:100%;
   width:80%;
   padding:10px;
   margin:0 auto;   
}

.about-me .mePhoto{
   width:35%;
   padding:10px;
   
   float:right;
}

.mePhoto img{
   display:block;
   padding:10px;
   padding-top:30px;
   margin:0 auto;
   text-align:center;
   position:relative;
   width:80%;
   height:80%;
}

#about-me .content{
   height:100%;
   width:70%;
   top:100px;
}

/*portfolio edits*/
.wide{
   width:50%;
   float:left;
   overflow:hidden;
  
}

.narrow{
   width:30%;
   float:left;
   margin:0;
   height:300px;
   overflow:hidden;
   
}

.grid .text{
   position:absolute;
   top:0;
   background:none repeat scroll 0% 0% #fff;
}





.workDescpt h1{
   font-size:8em;
   text-align:center;
   padding:40px auto 80px;
   display:block;
   margin-top:80px;
   font-family: 'Coda Caption', sans-serif;
   font-weight:800;
     
}  

.workDescpt p{
    display:block;
   color:white;
   padding:80px;
   margin-top:40px;
   
}   

#home h1{
   font-size:2em;
   font-weight:400;
}

.about-me h1{
   font-size:8em;
   display:block;
   padding:30px;
}

h1 img{
   width:50%;
}

.portfolio-margin h1{
   font-size:8em;
   display:block;
   padding-top:30px;
   padding-bottom:30px;
}

.partners .logo img{
   padding:0 40px;
}


#home .banner{
   width:60%;
   position:relative;
   margin:0 auto;
   top:35%;
 
}

#home .logo{
   z-index:1000000;
}


#home .text{
   display:block;
   position:relative;
   width:60%;
   margin:0 auto;
   text-align:center;
   z-index:1000000;
}

.partners.logo a{
   display:inline;
   float:left;
}


@media only screen 
and (max-width: 800px)
 {
 
.start-page .opacity{
   background:url(../img/background/blackInk.png); 
   background-repeat:no repeat;
   background-position:center center;
   background-opacity:.65;
 }
 
video#bgvid 
{ display: none; }

h1 img{
   width:80%;
}

.wide{
   width:100%;
   height:
}

}

