@import url(http://fonts.googleapis.com/css?family=Roboto:100);

a{
  text-decoration:none;
  outline:none;
  font-size:12px;
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  background:#101010;
  font-weight:400;
  height:100%;
}

/* Footer */


.footer{
  position:fixed;
  bottom:0;
  width:100%;
  background:#3c3c3c;
}

.footer .logo{

  position:relative;
  width:58px;
  height:58px;
  margin: 0 auto;
  padding-top:50px;

}

.footer .menu-footer{
  width:80%;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
  overflow: hidden;
  position:relative;  
}


.footer .menu-footer a{
  line-height:46px;
  padding:10px;
  color:#a4a4a4;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.footer .menu-footer a:hover{
  color:#bdd363;
}


.footer .copyright{
  width:80%;
  position:relative;
  font-weight:300;
  margin:0 auto;
  padding:30px 0 50px;
  text-align:center;
  font-size:14px;
  line-height:36px;
  color:#a4a4a4;
}

/* Menu mobile */

.menu-media{
  position:relative;
  width:100%;
  height:90px;
  /*background:#bdd363;*/
  z-index:1000;
  display:none;
}

.menu-media .menu-content{
  width:280px;
  position:relative;
  margin:0 auto;
}

.menu-media .menu-content .logo {
   color:white;
   font-weight:700;
   font-size:24px;
   width:200px;
   line-height:90px;
   float:left;
   list-style: none;
}

.menu-media .menu-content .icon{
  width:41px;
  height:23px;
  float:right;
  line-height:100px;
}

.menu-click{
  display:none;
}


.menu-click li {
  position:relative;
  width:100%;
  height:70px;
  color:#333333;
  font-size:18px;
  text-align:center;
  line-height:70px;
  z-index:1000;
  /*border-bottom:1px solid #f2f2f2;*/
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
 }

.menu-click li:hover {
  color:#bdd363;
 }


/* Menu */

.menu{
  position:relative;
  width:100%;
  height:60px;
  
  /*border-bottom:1px solid #f2f2f2;*/
  z-index:1000;
}

.menu-content{
  width:900px;
  position:relative;
  margin:0 auto;
}

.menu-content .logo {
   color:#333;
   font-weight:700;
   font-size:24px;
   width:300px;
   line-height:60px;
   float:left;
   list-style: none;
 }

.menu-content ul{

  width:500px;
  left:50%;
  float:right;
  text-align:right;
  list-style:none;
}

.menu-content li{
   display:inline-block;
   position:relative;
}

.menu-content li a{
  color:#333;
  font-size:16px;
  display: block;
  padding: 0 20px 0 20px;
  line-height:60px;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.menu-content li.active a{
  color:#bdd363;
}

.menu-content li a:hover{
  color:#bdd363;
}


#work{
   background:#F3F3F3;
}
.workWrapper{
   display:block;
   width:100%;
   height:100%;
   margin:0 auto;
   position:relative;
   background:#F3F3F3;
}

.workCover{
   width:100%;
   height:100%;
   margin:0 auto;
   position:relative;
   background:url(C:\Users\Mengna\Desktop\mengna\example template\THOMSOON_COM_LANDING_PAGE\HTML);
   background-size:cover;
}

.workCover .workImage{
   padding:0;
   margin:0;
   top:0;
   position:abosolute;
}
.workContent{
   display:block;
   width:50%;
   height:100%;
   margin:0 auto;
   position:relative;
   
}
.workImage{
   display:block;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;
   margin-top:50px;
   position:relative;
   padding:20px 0;
}
.workImage img{
   display:block;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;
   position:relative;
}

.workDescpt{
   
   display:block;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;
   margin-top:3em;
   margin-bottom:100px;
   position:relative;
   color:black;
   padding:50px 0;
}

.workDescpt p{
   
   display:block;
   color:black;
   font-size:1em;
   font-family: 'Bowlby', sans-serif;
   line-height:2em;
   margin:0 auto;
}

.workCover p{
   display:block;
   width:50%;
   text-align:center;
   font-size:1.5em;
   clear:both;  
}

.workContent h2{
   padding-top:80px;
   font-size:3em;
   font-family: 'Roboto', sans-serif;
   clear:both;
   position:relative;
   color:black;
   font-weight:100;
}

.workDescpt h1{
   color:white;
   font-size:8em;
   text-align:center;
   padding:40px auto 80px;
   display:block;
   margin-top:80px;
   font-family: 'Coda Caption', sans-serif;
   font-weight:800;
     
}  

.workDescpt p{
    display:block;
   color:white;
   padding:80px;
   margin-top:40px;
   
} 

.workInfo{
   width:100%;
   
   margin:0 auto;
   margin-top:0; 
   
}


.hr{
   width:1px;
   height:300px;
   float:left;
   background:black;
}

.columnOfThree{
   display:block;
   width:30%;
   height:300px;
   float:left;
   background:#f2f2f2;
  
   margin-left:3%;
}

.workInfo img{
   width:100%;
}

.workInfo p{
   text-align:center;
   line-height:2em;
   color:black;
   font-size:30px;
}

#workContent{
   font-family: 'Bowlby', sans-serif;
   font-weight:600;
   
}


/*Art Gallery style*/

#artGallery{
    
	width:100%;
	height:auto;
	margin:0 auto;
	top:-40px;
	position:absolute;
	
}

.lightbox{
   display:block;
   width:60%;
   margin:0 auto;
   position:relative;
   margin-top:50px;
   overflow:hidden;
}

.lightbox img{
   opacity:.3;
   -webkit-transition: all 1s ease-0ut;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.lightbox img:hover{
   transform: scale(1.1);
   opacity:1.0;
}
.lightbox p{
   display:block;
   width:100%;
   margin:0 auto;
   text-align:center;
   position:relative;
}

.lightbox h1{
   color:white;
   font-size:2em;
   letter-spacing:.1em;
   font-weight:600;
   display:block;
   position:relative;
   margin-bottom:50px;
}

.frame{
   width:200px;
   height:200px;
   overflow:hidden;
   margin:10px;
   float:left;
}

.back{
   display:block;
   margin:0px auto 50px;   
}
.back a{
   font-family:sans-serif;
   font-size:24px;
   color:black;
   color: #be1e2d;
    -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.back a:hover{
   color:white;
}

span{
   font-family:'Roboto', sans-serif;
}